<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">

    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left> Nome inválido</p>

    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left> Email inválido</p>

    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left> Senha inválido</p>

    <ion-item>
      <ion-label stacked>Telefone*</ion-label>
      <ion-input formControlName="telefone" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.telefone.dirty && formGroup.controls.telefone.errors" margin-left> Telefone inválido</p>

    <ion-item>
      <ion-label stacked>Foto</ion-label>
      <ion-input formControlName="foto" type="text"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Eu Sou...</ion-label>
        <ion-select formControlName="tipo">
          <ion-option value="Mae">Mãe</ion-option>
          <ion-option value="Pai">Pai</ion-option>
          <ion-option value="Responsavel">Responsável</ion-option>
          <ion-option value="Professor">Professor</ion-option>
          <ion-option value="Mediador">Mediador</ion-option>
          <ion-option value="Coordenador">Coordenador</ion-option>
          <ion-option value="Diretor">Diretor</ion-option>
          <ion-option value="Psicologo">Psicólogo</ion-option>
          <ion-option value="Psiquiatra">Psiquiatra</ion-option>
          <ion-option value="Pediatra">Pediatra</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit" [disabled]="formGroup.invalid">Cadastrar</button>
    
  </form>
</ion-content>