<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>

  <h2 text-center>{{ crianca?.nome }}</h2>
  <p text-center>{{ crianca?.dataNascimento }}</p>
  <p text-center>{{ crianca?.colegio }}</p>

  <ion-card style="position: relative">
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>

    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getGaleryPicture()" [disabled]="cameraOn">Galeria</button>
      <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Salvar imagem</button>
      <button *ngIf="picture" ion-button outline block (click)="cancel()">Cancelar</button>
    </ion-item>
  </ion-card>


  <ion-label stacked>Novo Usuário</ion-label>
  <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    <button ion-button round clear item-right (click)="addNewUser(email)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-thumbnail item-start>
        <img [src]="usuario?.imageUrl || 'assets/imgs/avatar-blank.png'">
      </ion-thumbnail>
      <h2>{{ usuario.nome }}</h2>
      <button ion-button clear item-end (click)="confirmDelete(usuario.id)">
        <ion-icon *ngIf="delete_usuario" name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <button ion-item *ngFor="let recomendacao of recomendacoes" (click)="showDetail(recomendacao.id)">
      <h2>{{ recomendacao?.observacao}}</h2>
      <p>
        <small>Cadastrado por {{ recomendacao?.usuario.nome }}</small>
      </p>
    </button>

    <button *ngIf="medico" ion-button outline block (click)="addRecomendacao(crianca.id)">Nova Recomendação Médica</button>
  </ion-list>

  <button ion-button block (click)="editCrianca(crianca.id)">Editar Criança</button>

</ion-content>