page-crianca-detail {
    .circle{
        width: 60%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }
    cordova-camera-capture{
        position: absolute!important;
        bottom: 0;
    }
    video{
        width: 100%;
    }

    ion-icon{
        font-size: 2.3em;
    }
}
